<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{../fragments/head-frag :: head}"></th:block>
<body class="bg-dark text-white">

	<th:block th:replace="~{../fragments/header :: header}"></th:block>

	<div class="container text-center py-5">
	
		<th:block th:include="~{../fragments/frag-login.html :: login}"></th:block>
	
		<div>HOME</div>
		
		<ul>
			<li
				th:each="pizza : ${pizze}"
				th:object="${pizza}"
			>
				[[*{nome}]]
				<a th:href="@{/pizze/{id}(id=*{id})}">
					Mostra
				</a>
			</li>
		
		</ul>
	
	</div>


</body>
</html>